.alert-text {
    color: red;
  }

  /* id selector */

#title {
    background-color: red;
  }

  /* Chaining 
  selector*/
.subsection.header {
    color: red;
  }
.subsection.preview {
    color: blue;
  }